/* OLD STORY */
.fusion-header, .fusion-header-wrapper.fusion-is-sticky .fusion-header {
    border-bottom-style: solid;
    border-bottom-color: #F1C40F;
    border-bottom-width: 4px;
    -webkit-box-shadow: 0 200px 200px -200px rgba(2,19,35,0.9) inset;
    -moz-box-shadow: 0 200px 200px -200px rgba(2,19,35,0.9) inset;
    -ms-box-shadow: 0 200px 200px -200px rgba(2,19,35,0.9) inset;
    -o-box-shadow: 0 200px 200px -200px rgba(2,19,35,0.9) inset;
    box-shadow: 0 200px 200px -200px rgba(2,19,35,0.9) inset;
    
    background-color: #135387 !important;
    background-image: url("https://amensda.org/assets/images/css/texture.png") !important;
    background-position: center center;
}

#menu-main-menu li a .menu-text { 
    text-shadow: 0 2px 0 rgba(11,37,58,0.7);
    font-size: 22px;
    font-weight: 600;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;

        -webkit-transition: text-shadow 0.375s,color 0.375s;
    -moz-transition: text-shadow 0.375s,color 0.375s;
    -ms-transition: text-shadow 0.375s,color 0.375s;
    -o-transition: text-shadow 0.375s,color 0.375s;
    transition: text-shadow 0.375s,color 0.375s;
}
#menu-footer-menu, #menu-login-menu {
  font-weight: 600;
  font-family: 'Source Sans Pro', sans-serif;
  
  text-shadow: 0 2px 0 rgba(11,37,58,0.7);
  padding: 0 ;
  margin: 0;

}

#footer {
  -webkit-box-shadow: 0 20px 20px -20px rgba(0,0,0,0.9) inset;
    -moz-box-shadow: 0 20px 20px -20px rgba(0,0,0,0.9) inset;
    -ms-box-shadow: 0 20px 20px -20px rgba(0,0,0,0.9) inset;
    -o-box-shadow: 0 20px 20px -20px rgba(0,0,0,0.9) inset;
    box-shadow: 0 20px 20px -20px rgba(0,0,0,0.9) inset;
}
#menu-main-menu li a:hover .menu-text,
#menu-main-menu li a:focus .menu-text,
#menu-main-menu li a:active .menu-text
{
    text-shadow: 0 5px 0 rgba(11,37,58,0.7);
    color: rgba(255,255,255,0.99);
    text-decoration: none;
}

body {
    color: #222;
    font-family: 'Source Sans Pro', sans-serif;
}


/* bar and menus */
.fusion-main-menu > ul > li > a:hover {
      border-color: transparent !important;
  }



    #menu-main-menu: {
      height: 86px;
    }
    #menu-main-menu:hover >  li > a {
      transition: opacity 0.2s ease;
      opacity: 0.7;
    }
    #menu-main-menu:hover >  li > a:hover{
      opacity: 1;
      transition: opacity 0.2s ease;
    }
    #menu-footer-menu:hover >  li > a {
      transition: opacity 0.2s ease;
      opacity: 0.7;
    }
    #menu-footer-menu:hover >  li > a:hover{
      opacity: 1;
      transition: opacity 0.2s ease;
    }
    #menu-login-menu:hover >  li > a {
      transition: opacity 0.2s ease;
      opacity: 0.7;
    }
    #menu-login-menu:hover >  li > a:hover{
      opacity: 1;
      transition: opacity 0.2s ease;
    }


    div.fusion-main-menu > ul > li > a:after {
      content:'';
      width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 8px 8px 8px;
    border-color: transparent;
    height: 0;
    width: 0;
    margin: 1px auto 0px;
    display: block;
    position: relative;
    /*z-index: 100;*/
    transition: none;
    bottom: -1px;
    }
    div.fusion-main-menu:hover > ul > li > a:hover:after, .fusion-main-menu .current-menu-parent > a:after , .fusion-main-menu ul > li.current_page_ancestor > a:after {
      border-bottom-color: #F1C40F;
    transition: none;
    }
    .fusion-main-menu .current-menu-parent > a, .fusion-main-menu .current_page_item > a {
        border-color:transparent !important;
    }
    .fusion-main-menu .current-menu-parent a:after, .fusion-main-menu .current_page_item a:after, .fusion-main-menu .current_page_ancestor > a:after {
        border-bottom-color: #F1C40F;
    }
    .fusion-main-menu {
        overflow: visible !important;
    }
    .fusion-main-menu .current-menu-parent > li { overflow: visible !important;  }
    


    .fusion-header-wrapper .fusion-main-menu{
      margin-top: 64px;

    }
    .fusion-header-wrapper.fusion-is-sticky .fusion-main-menu {
      margin-top: 0px;

    }
    .fusion-main-menu .sub-menu{
          background-color: #EBEAE6;
        border-bottom: 1px solid #CEC8B1;
    }
    
    .fusion-header-wrapper.fusion-is-sticky  .fusion-header-v1:after {
      position: fixed;
    }
    
    
    .fusion-main-menu .sub-menu {
      border: none;
      background: transparent !important;
      width: 500px;
      box-shadow: none;
      -webkit-box-shadow: none;
      padding-right: 31px;
    }
   
    .fusion-main-menu .sub-menu li {
      float:right;
      display:inline-block;
      visibility: hidden;
      
      height: 89px;
      border: none;
      margin-top: 16px;
      
      
    }
    .fusion-main-menu li.current_page_item,  .fusion-main-menu > ul > li.current_page_ancestor {overflow: visible !important;}
    .fusion-main-menu li.current_page_item .sub-menu {visibility: visible; opacity: 1}
    .fusion-main-menu li.current_page_item .sub-menu li { opacity: 1; visibility: visible; }
    .fusion-main-menu .sub-menu li a {
      height: 21px;
      background: transparent;
      font-family: 'Source Sans Pro', sans-serif;
      border: none;
      color: rgba(137,129,99,0.99);
      font-size: 16px;
    }
    .fusion-main-menu .sub-menu li a:hover {
      background: transparent !important;
    }
    .fusion-main-menu .sub-menu li:after {
      content:'';
      width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6px 6px 6px;
    border-color: transparent;
    height: 0;
    width: 0;
    margin: -2px auto 0px;
    display: block;
    position: relative;
    /*z-index: 100;*/
    transition: none;
    }
    .fusion-main-menu .sub-menu li:after {
    }
    .fusion-main-menu .sub-menu li:hover:after {
      border-bottom-color: #CEC8B1;

    } 
    .fusion-main-menu li.current_page_item .sub-menu li a{
      /*font-weight: bold;*/
    }

    .fusion-main-menu > ul > li {
        padding-right: 31px;
    }
    
    /*.fusion-main-menu ul.sub-menu {
        left: 0 !important;
    }*/
    


/*FONTS*/
/* vietnamese */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGD_j0nMiB9fPhg_k1wdK2h0.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGDRVvBvQIc1z78c__uoBcyI.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGOode0-EuMkY--TSyExeINg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* vietnamese */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlNOAHFN6BivSraYkjhveRHY.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlC2Q8seG17bfDXYR_jUsrzg.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlNV_2ngZ8dMf8fLgjYEouxg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* vietnamese */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'), url(https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGClYwVOhDRq2vbpGRTZ7bbs.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'), url(https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGFKFh1TDTPrUZWzVp6FtpG8.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'), url(https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGCOFnW3Jk0f09zW_Yln67Ac.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* vietnamese */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url(https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGDovqjS_dXPZszO_XltPdNg.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url(https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGFxe-GPfKKFmiXaJ_Q0GFr8.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url(https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGEo0As1BFRXtCDhS66znb_k.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* vietnamese */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  src: local('Source Sans Pro Italic'), local('SourceSansPro-It'), url(https://fonts.gstatic.com/s/sourcesanspro/v9/M2Jd71oPJhLKp0zdtTvoM7YHq4FgHI02B8rPccK0FJQ.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  src: local('Source Sans Pro Italic'), local('SourceSansPro-It'), url(https://fonts.gstatic.com/s/sourcesanspro/v9/M2Jd71oPJhLKp0zdtTvoM40tgx99jmYGv_xzYuwd1rU.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  src: local('Source Sans Pro Italic'), local('SourceSansPro-It'), url(https://fonts.gstatic.com/s/sourcesanspro/v9/M2Jd71oPJhLKp0zdtTvoMxgy2Fsj5sj3EzlXpqVXRKo.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

.fusion-header-v1 {
	margin-top: -6px;
}

/* END OF OLD STORY */







.second-wrapper {
      content: '';
      display: block;
      width: 100%;
      height: 39px;
      background-color: #EBEAE6;
    /*border-bottom: 1px solid #CEC8B1; */
}

.second-wrapper .sub-menu {
	display: none;
}
.second-wrapper > .sub-menu {
	display: block;
} 

.second-wrapper  .sub-menu li{
	float: none;
    display: inline-block;
    padding-left: 15px;
    height: 39px;
}
.second-wrapper  .sub-menu li a{
	height: 21px;
      background: transparent;
      font-family: 'Source Sans Pro', sans-serif;
      border: none;
      color: rgba(137,129,99,0.99);
      font-size: 16px;
      line-height: 36px;
}
.second-wrapper .sub-menu li.current_page_item a, .second-wrapper .sub-menu li.current_page_ancestor a {
	font-weight: bold;
}
.second-wrapper  .sub-menu li:hover a{
      color: rgba(99,90,56,0.99);
}
.second-wrapper  .sub-menu:hover li a {
	opacity: 0.7;
	transition: opacity 0.2s ease;
}
.second-wrapper  .sub-menu:hover li:hover a {
	opacity: 1;
	transition: opacity 0.2s ease;
}
.second-wrapper  .sub-menu {
	float: right;
	list-style-type: none;
	/*padding-right: 91px;*/
	margin: 0;
}

.second-wrapper .sub-menu li:after {
      content:'';
      width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6px 6px 6px;
    border-color: transparent;
    height: 0;
    width: 0;
    margin: -2px auto 0px;
    display: block;
    position: relative;
    /*z-index: 100;*/
    transition: none;
    }
    
    .second-wrapper .sub-menu li:hover:after, .second-wrapper .sub-menu li.current_page_item:after, .second-wrapper .sub-menu li.current_page_ancestor:after {
      border-bottom-color: #CEC8B1;

    } 

.fusion-main-menu .sub-menu {
	display: none !important;
}

.amen-sidebar .post-content {
	display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.amen-sidebar .post-content .fusion-fullwidth {
    flex-grow: 4;
    -webkit-flex-grow: 4;
    -moz-flex-grow: 4;
    /* special for IEEEE*/
    flex:1;
}
.amen-sidebar .post-content .fusion-fullwidth:first-of-type {

	flex-basis: 359px;
	-webkit-flex-basis: 359px;
	-moz-flex-basis: 359px;
    flex-grow: 0;
    -webkit-flex-grow: 0;
    -moz-flex-grow: 0;
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
	max-width: 360px;
    /*padding-left: 115px;*/
    border-right: 1px solid gray;
    margin-right: 36px;
    padding-right: 36px;

    margin-top: -55px;
    margin-bottom: -40px;
    padding-top: 70px !important;
}

.second-wrapper-container {
   width: 100%;
      /*height: 39px;*/
      background-color: #EBEAE6;
    border-bottom: 1px solid #CEC8B1;
    padding: 0 30px;
}

 .amen-sidebar .sidebar-duplicate {
    display: none;
  }

#menu-footer-menu ul.sub-menu{
  display: none;
}
#menu-footer-menu  {
  list-style-type: none;
}
#menu-footer-menu li {
  font-size: 14px;
  display: inline-block;
  padding-right: 24px;

}
#menu-footer-menu li a, #menu-login-menu li a{
  color: rgba(235,234,230,0.99);
}

.third-level .sub-menu {
  display: none;
}


@media screen  and (max-width:1291px){
	.fusion-logo {
		width: 174px;
	}
  .second-wrapper  .sub-menu li a {
    line-height: 34px;
  }
	#menu-main-menu li a .menu-text {
		font-size: 16px;
	
	}
	.second-wrapper  li > a span {
		font-size: 14px;
	}
	.fusion-header > .fusion-row {
	height: 127px;
	}
	.fusion-main-menu > ul > li > a {
		line-height: 50px !important;
		height: 50px !important;
	}

  .second-wrapper .sub-menu li:after{
    bottom: -2px;
  }

}

@media screen and (max-width:870px) {
  .fusion-main-menu > ul > li {
    padding-right: 0px !important;
    padding-left: 25px ;
  }



}

@media screen and (max-width:800px) {
  /*mobile view*/
  .amen-sidebar .post-content{
    flex-flow: column;
    -webkit-flex-flow: column;
    -moz-flex-flow: column;
  }




  .amen-sidebar .post-content .fusion-fullwidth:first-of-type {
    max-width: none;
    flex-basis : initial;
    -moz-flex-basis : initial;
    -webkit-flex-basis : initial;
    padding: 0;
    border: none;
  }

  .amen-sidebar.go-down .fusion-fullwidth:first-of-type .fusion-row > div:not(.fusion-title) {
    display: none;
  }
 
  .amen-sidebar.go-down .sidebar-duplicate  {
    display: block;
  }

  .amen-sidebar.go-down .sidebar-duplicate .fusion-row > .fusion-title {
    display: none;
  }



	.fusion-header > .fusion-row {
		height: 61px;
	}
	.fusion-logo {
		width: 174px;
	}

	.fusion-mobile-nav-holder > ul > li >a {
		background: transparent !important;
	}
	.fusion-mobile-nav-holder > ul {
		border: none !important;
		border-top:  1px solid rgba(255,255,255,0.2) !important;

		background-color: #135387 !important;
    background-image: url("https://amensda.org/assets/images/css/texture.png") !important;
		
	}
	.fusion-mobile-nav-holder > ul > li > a {
		border: none !important;
		border-bottom:  1px solid rgba(255,255,255,0.2) !important;

	}
	.fusion-mobile-nav-holder > ul > li > span {
		display: none;
	}

	.fusion-mobile-nav-holder  {
		padding-top: 15px !important;
		position: relative;
		z-index: 1;
	}

}

@media screen and (max-width:500px) {
	.second-wrapper {
		height: auto;
		overflow: auto;

	}
	.second-wrapper .sub-menu {
		float: none;
		text-align: center;
		margin: 0;
		padding: 0 20px;
	}
	.second-wrapper .sub-menu li {
		padding: 0;
		float: none;
		display: block;
		padding: 0 ;
		border-bottom: 1px solid #CEC8B1;
	}
	.second-wrapper .sub-menu li:last-child {
		border-bottom: none;
	}
	.second-wrapper .sub-menu li:hover:after, .second-wrapper .sub-menu li.current_page_item:after {
		display: none;
	}

  .second-wrapper-container {
    padding: 0;
  }
  
}
/* END of MOBILE look*/


.fusion-main-menu .current-menu-ancestor > a, .fusion-main-menu .current-menu-item > a, .fusion-main-menu .current-menu-parent > a, .fusion-main-menu .current_page_item > a{
	border-color: transparent !important;
}

.third-level li:after {
      content:'';
      width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px;
    border-color: transparent;
    height: 0;
    width: 0;
    margin: 1px auto 0px;
    display: inline-block;
    position: relative;
    /*z-index: 100;*/
    transition: none;
    /*float: right;*/
    /*top: 12px;*/
    left: 16px;
}

.third-level li:hover:after, .third-level li.current_page_item:after  {
    border-right-color: rgba(235, 234, 230, 0.992157);

}

.third-level li {
  text-align: right;
    margin-right: 0px;
    padding-right: 0;
    padding: 0;
    margin: 0;
    display: block;
    margin-right: -20px;
    line-height: 40px;
}
.third-level li a {
  color: rgba(137, 129, 99, 0.992157);
  font-size: 18px;
  font-weight: bold;
}

.third-level li a:hover, .third-level li.current_page_item a  {
  color : rgba(99,90,56,0.99);
}

.third-level.sub-menu:hover li a {
	opacity: 0.7;
	transition: opacity 0.2s ease;
}
.third-level.sub-menu:hover li:hover a {
	opacity: 1;
	transition: opacity 0.2s ease;
}

.amen-has-map .second-wrapper-container {
    box-shadow: 0 1px 3px gray;
    position: relative;
    z-index: 10;
}
.amen-map {
    height: 250px !important;
}

.menu-item.hide {
  display: none !important;
}

.sidebar-image-wrapper:after {
  content: '';
  position:  absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 5px solid rgba(255,255,255,0.2);
  box-sizing: border-box;

      -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.1) inset;
    -moz-box-shadow: 0 0 20px rgba(0,0,0,0.1) inset;
    -ms-box-shadow: 0 0 20px rgba(0,0,0,0.1) inset;
    -o-box-shadow: 0 0 20px rgba(0,0,0,0.1) inset;
    box-shadow: 0 0 20px rgba(0,0,0,0.1) inset;
    -webkit-transition: border-width 0.2s;
    -moz-transition: border-width 0.2s;
    -ms-transition: border-width 0.2s;
    -o-transition: border-width 0.2s;
    transition: border-width 0.2s;
}

.sidebar-image-wrapper:hover:after {
  border-width: 10px;
}
.sidebar-image-wrapper{
  position: relative;
  display: inline-block;
}
.fusion-fullwidth-1 .sidebar-image-wrapper{
  overflow: auto;
  position: relative;
  margin-bottom: 10px;
}
.fusion-fullwidth-1 .sidebar-image-wrapper img{
    margin-bottom: 0px !important;
  }


#menu-login-menu {
  position: absolute;
  right: 0;
  top: 22px;
  list-style-type: none;
}

#menu-login-menu li {
  display: inline-block;
  margin-left: 10px;
}
#menu-login-menu li a {
  color : rgba(255,255,255,0.5);
  font-size: 14px;
}
#menu-login-menu li a:hover {
  color : white;
}

/* footer fix */
.fusion-footer {
  overflow: visible;
  position: relative;

}
.fusion-footer-widget-area {
  -webkit-box-shadow: 0 20px 50px -20px rgba(125,115,72,0.2) inset;
      -moz-box-shadow: 0 20px 50px -20px rgba(125,115,72,0.2) inset;
      -ms-box-shadow: 0 20px 50px -20px rgba(125,115,72,0.2) inset;
      -o-box-shadow: 0 20px 50px -20px rgba(125,115,72,0.2) inset;
      box-shadow: 0 20px 50px -20px rgba(125,115,72,0.2) inset;
      position: relative;
  
}

.fusion-footer:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background-image: red;
  top: -25px;
  width: 50px;
  height: 51px;
  background-image: url('/wp-content/plugins/amen-style/amen-logo.svg');

  -webkit-background-size: 260px 260px;
    -moz-background-size: 260px 260px;
    -ms-background-size: 260px 260px;
    -o-background-size: 260px 260px;
    background-size: 260px 260px;
    background-position: 0 162px;
    z-index: 10;
}

/* blockquote*/
blockquote {
  position: relative;
  z-index: 0;
  background:transparent;
}
blockquote > p:before, blockquote > p:after{
      font-size: 144px;
    position: absolute;
    color: #f2f2f2;
    font-weight: bold;
    z-index: -1;
    line-height: 1;

}
blockquote > p:before{
      content: "“";
      top:-15px;
      left: -2px;
}
blockquote > p:after{
    content: "”";
    margin-left: -5px;
    margin-top: -35px;
}
h5+ul {
  list-style-type: none;
}
h5+ul li:before {
  content: "• ";
    color: #F1C40F;
    font-weight: bold;
    font-size: 24px;
    margin-right: -13px;
    position: relative;
    left: -27px;
}

.fusion-fullwidth-2 a{
  font-weight: 600;
}

/*mobile view*/
@media screen and (max-width:800px) {
  #menu-login-menu {
    top: 36px;
  }
}
